---
layout: default
title: GitLab Connect San Francisco
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab Connect San Francisco
        %h2.page-subtitle Discussion led by GitLab + General Catalyst on DevSecOps

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 Thursday, February 28, 6:00 pm - 8:30 pm
            %h4 General Catalyst - 2 S Park St, San Francisco, CA
            %p GitLab and General Catalyst will be moderating a peer-to-peer discussion on application security and best practices for DevSecOps in the new cloud native world.

            %p Whether you're a GitLab expert, novice, or wondering, “What in the heck is GitLab?”, join us in San Francisco to learn how others are solving their enterprise challenges of integrating application security into DevOps given the shift towards containers and cloud native.

            %p We will have local participants, GitLab experts, free food, and libations. Join us for an evening of networking and learning with like minds who are delivering apps, tools, services and best practices using continuous integration. 

            %p Space is limited. Please register to hold your spot. 
            
            %p Invite a friend! Bring your Application Security colleague along for a GitLab demo and we’ll give both of you the gift of caffeine (in the form of a Philz Coffee gift card).
            %br

        .col-md-4.col-md-offset-1
          %h2 Register for the event:
          %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1691
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1691, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional event details.
